.post-topic {
    margin: 0 4px;
}

body {
    font-family: 'Lato', sans-serif;
    justify-items: center;
}

.app-wrapper {
    display: grid;
    justify-content: center;
}

.logo-main,
.recent-posts
{
    display: grid;
    justify-items: center;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}


$color-gray-one: #666666;
$color-gray-two: #B3B3B3;
$color-gray-three: #D8D8D8;
$color-blue-one: #0079FF;

/*
.recent-post {
    .recent-post__title a {
        color: $color-gray-one;
    }
}

.post-topic {
    color: $color-gray-two;
    font-size: 14px;
    font-weight: bold;
    text-align: left;
    margin-right: 8px;
}
*/

@import './mixins';
@import './searchBar';
@import './recentPosts';
// @import './post';
@import './home';
@import './results';